
/*Classes*/
.container {
  border: 5px solid rgb(127, 218, 228);
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  min-width: 500px;
  max-width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  
}


.todo-container {

  padding: 10px;
  min-height: 200px;
}

.completed {
  text-decoration: line-through;
  color: rgb(167, 167, 167);
}

.trashcan {
  
  float: right;
  cursor: pointer;
  font-size: 23px;
}

.trashcan:hover{
  color: #898989;
}



/*Elements*/
body {
  background: rgb(49,240,234);
background: linear-gradient(180deg, rgba(49,240,234,1) 0%, rgba(0,94,214,1) 100%);
background-repeat: no-repeat;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
}

header {
  display: flex;
  justify-content: center;
}

img {
  height: 15rem;
  width: 15rem;
}

p {
  font-family: "Raleway", sans-serif;
  padding-left: 10px;
}

label {
  color: rgb(95, 95, 95);
  font-family: "Raleway", sans-serif;
}

small {
  font-family: "Raleway", sans-serif;
}

ul {
  font-family: "Raleway", sans-serif;
  padding-left: 10px;
  list-style: none;
}

li::marker {
  font-family: FontAwesome;
  content: "\f249";
  font-size: 8px;
  justify-content: center;
  display: flex;
  color: orange;
}

li {
  padding-left: 5px;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
  font-size: 1rem;
  color: #595959;
}

li:hover {
  cursor: pointer;
}

/*IDs*/

/* add todo icon */
#addTodo {
  font-size: 25px;
  border: none;
  background: none;
  color: rgb(52, 161, 52);
}

#addTodo:hover {
  color: rgb(51, 194, 51);
}


/*Input window*/
#todoInput {
  border-radius: 5px;
  border: 1px solid;
  width: 350px;
  height: 27px;
  font-family: "Raleway", sans-serif;
  overflow: hidden;
  vertical-align: bottom;
}



#clearAll {
  float: right;
  border: none;
  
  font-size: 1rem;
  background: none;
  
}

#clearAll:hover {
  
  border-bottom: 1px solid #595959;
  color: #595959;
  transition: all 300ms ease;
  cursor: pointer;
}

